<p>arara works!</p>
<h1>Arara Voadora</h1>

<div>
    <!-- <img [src]="{{imagem}}" alt="arara"> -->
    <img [src]="url2" alt="arara">
</div> 

<div>
    {{getToString()}}   
</div> 

<h3>ngModell</h3>
<input type="text" [(ngModel)]="nome2">

<p id="textodigitado">{{nome2}}</p>

 <h2>Cor da Arara:{{cor}}</h2>  <!-- conponente Arara no pai cetando a cor -->

<button (click) ="onClick()">Clique aqui</button> 
<!-- <button (mouseenter) = "entrouBotao()" (mouseleave) = "saiuBotao()">Eventos</button> -->
