
    .container{
        display: grid;
        /*grid-template-columns:repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 10px;*/
        max-width: 1500px;
        margin: 0 auto;
        grid-gap: 10px;
        grid-template-rows:100px 90px 90px 90px 90px 80px 80px 80px 100px 50px;
     
        grid-template-areas: 
        "nave nave nave"
        "section section1 aside"
        "section section1 aside"
        "section section1 aside"
        "section section1 aside"
        "a5 a6 a6"
        "a5 a6 a6"
        "a5 a6 a6"
        "footer footer footer"
        "footer footer footer"
        ;
       
        
    }

@media (max-width: 500px) {   
.container{
    display: grid;
    /*grid-template-columns:repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;*/
  display: block;
   
    
}
}
#a1{
    background-color: bisque;
    grid-area: nave;
   text-align: center;
   padding-top: 30px;
   font-size: 45px;

}
#a2{
    background-color: bisque;      
   grid-area: section;
 
   
    
}
#a21{
   background-color: #1f180f;
    text-align: center;
    padding-top: 10px;
    font-size: 40px;
    color: aliceblue;
}
#a22{ 
   
    font-size: 40px;
    font-family: 'Nunito', sans-serif;   
}
#a22 ol{
    padding-left: 100px;
}
#a22 li { 
    font-size: 40px;
    font-family: 'Nunito', sans-serif;   
}
#a22 li a{
    text-decoration: none;
    
} 
#a22 li a:hover{
    
    color: red;
    font-family: 'Nunito', sans-serif;
   
}

#a3{
    background-color: bisque;
    grid-area: section1;
}
#a31{
    grid-area: section1;
    background-color: #1f180f;
    text-align: center;
    padding-top: 10px;
    font-size: 40px;
    color: aliceblue;
}
#a32{
    grid-area: section1;
   padding-left: 5px;
    font-size: 40px;
}

#a4{
    background-color: bisque;
    grid-area: aside;
    display: inline-block;
    grid-gap: 10px;   
    
}
#a41{
   
    grid-area: aside;  
    background-color: #1f180f;
    text-align: center;
    padding-top: 10px;
    font-size: 40px;
    color: aliceblue;

}
#a42{
    grid-area: aside;
    display: inline-block;
    grid-gap: 10px;   
    ;
}
img{
    width: 450px;
    height: 140px;
    padding-left: 50px;
    padding-top: 15px; 
}

#a5{
    background-color: bisque;
    grid-area: a5;
}
#a51{
    background-color: #e28512;
    grid-area: a5;
    background-color: #1f180f;
    text-align: center;
    padding-top: 10px;
    font-size: 40px;
    color: aliceblue;
}
#a52{
   
    grid-area: a5;
}

#a6{
    background-color: bisque;
    grid-area: a6;
}
#a61{
    background-color: bisque;
    grid-area: a6;
    background-color: #1f180f;
    text-align: center;
    padding-top: 10px;
    font-size: 40px;
    color: aliceblue;
}
#a62{
    padding: 20px; 
}

#a7{
    background-color: bisque;
    grid-area: footer;
    display: fixed;
}
#a71{
    grid-area: footer;
    background-color: #1f180f;
    text-align: center;
    padding-top: 10px;
    font-size: 40px;
    color: aliceblue;
}
#a72{
    text-align: center;
   padding: 25px;
    font-size: 30px;
}



